.Chat {
    height: 100vh;
    background:url("http://mysite.example.com/mycursor.png");
    position: relative;
    overflow: hidden;
    overflow-y: scroll;
    overflow-x: scroll;
  
  }


  .jump_end{
    position: absolute; 
    top: 90%;
    left: 78%;
    background-image: linear-gradient(to bottom,#a0982d 0,#5c5b32 100%);
    padding: 0.5% 0.6%;
    font-size: 140%;
    line-height: 1.3333333;
    border-radius: 50%;
    border-color: black;
    font-family:'SignPainter';
  
  }  

  .join_room_btn{
    position: absolute; 
    margin-top: 3.5%;
    margin-left: 22%;
    background-image: linear-gradient(to bottom,#a0982d 0,#5c5b32 100%);
  padding: 0.5% 0.6%;
  font-size: 140%;
  line-height: 1.3333333;
  border-radius: 50%;
  border-color: black;
  font-family:'SignPainter';
   
 
 }  


 .room_input {
    font-family:'SignPainter';
    font-size: 150%;
    position: absolute; 
    margin-top: 4%;
    float: left;
    margin-right: 14%;
    background:green;
 }  


  .logout_btn{
    position: relative; 
     left: 92.5%;
     margin-top: 1%;
     background-image: linear-gradient(to bottom,#a0982d 0,#5c5b32 100%);
     padding: 0.5% 0.6%;
     font-size: 140%;
     line-height: 1.3333333;
     border-radius: 50%;
     border-color: black;
     font-family:'SignPainter';
  
  } 


.input_holder{
  position: relative; 
   top: 12.5%;
   left: 12.5%;
   height: 75%;
   width: 75%;


}

.chat_bubbles{
    position: relative; 
    top: 2%;
    left: 2.5%;
    height: 75%;
    width: 95%;
    background-image: linear-gradient(to bottom,#a0982d 0,#5c5b32 100%);
 
 
 }

 .chat_input{
    position: absolute; 
    top: 85%;
    left: 2.5%;
    height: 5%;
    width: 80%;
    color: white;
    font-size: 100%;
    background-image: linear-gradient(to bottom,#a0982d 0,#5c5b32 100%);

 }

 .chat_send{
    position: absolute; 
    top: 85%;
    left: 85%;
   
    background-image: linear-gradient(to bottom,#a0982d 0,#5c5b32 100%);
  padding: 0.5% 0.6%;
  font-size: 140%;
  line-height: 1.3333333;
  border-radius: 50%;
  border-color: black;
  font-family:'SignPainter';

 }

 .chatBubble {
    background:red;
 }