.loginForm {
  height: 100vh;
  background:url("https://wallpaperaccess.com/full/84248.png");
  background-size: cover;
  position: relative;
  
  overflow-y: scroll;
  overflow-x: scroll;
  display: block;
}

.form-group {
  margin-bottom: 3rem;
  
  
}

.logo{
  position: absolute;
  color: red;
  margin-left: 85%;
  margin-top: 4%;
  font-size: 450%;
  font-family:'SignPainter';
}

.button {
  background-image: linear-gradient(to bottom,#a0982d 0,#5c5b32 100%);
  padding: 0.5% 0.6%;
  font-size: 230%;
  line-height: 1.3333333;
  border-radius: 50%;
  border-color: black;
  font-family:'SignPainter';
  
  margin-top: 1%;
  margin-left: 35%;  
}

.button2 {
  background-image: linear-gradient(to bottom,#a0982d 0,#5c5b32 100%);
  padding: 0.5% 0.6%;
  font-size: 230%;
  line-height: 1.3333333;
  border-radius: 50%;
  border-color: black;
  font-family:'SignPainter';
  
  margin-top: 1%;
  margin-left: 6%;  
}

.usernameForm {
  margin-left: 32%;
  margin-top: 1%;
  font-family:'SignPainter';
  
  font-size: 280%;
}

.form-label {
  margin-right: 3%;
}

.form-control {
  width: 50%;
  border-color: black;
  background-image: linear-gradient(to bottom,#a0982d 0,#5c5b32 100%);
  color: white;
  display: block;
  font-size: 40%;
  font-family:'Palatine';
  

}



.bigForm {
  opacity: 5%;
  margin-top: 15%;
  margin-right: 19%;
  border-radius: 100%;
  margin-left: 17%;
  height: 30%
  
}

.error {
  position: relative;
  margin-top: 10%;
  margin-right: 25%;
  border-radius: 70%;
  font-family: bold;
  font-size: 200%;
  color: white;
  margin-left: 41%;
  height: 15%
}